<h1>Stupid Coaching</h1>

<p class="card" id="question" style="width: 300px;"><em>You:</em> <%=@question%></p>
<p class="card" id="answer" style="width: 300px;"><em>Coach:</em> <%=@answer%></p>

<button class="btn btn-outline-primary text-decoration-none"><%= link_to "Ask Again", ask_path %></button>
