
<form class="form-group" style="width: 300px;" action="/answer" data-turbo="false">
  <h1 class="m-3">Stupid Coaching</h1>
  <input type="text" name="question" class="form-control m-3">
  <input type="submit" value="Ask!" class="btn btn-primary m-3">
</form>
